<h1 class="dialog-title">
    <ng-container *ngIf="data?.sensor?.id; else fallback">
        Edit sensor
    </ng-container>
    <ng-template #fallback> Add new sensor </ng-template>
</h1>

<div class="dialog-content">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">

        <mat-form-field appearance="fill" class="full-width">
            <mat-label>Name</mat-label>
            <input matInput type="text" formControlName="name" placeholder="Name" autocomplete="new-password"
                required />
            <mat-error>{{ errorMessage('name', 30) }}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
            <mat-label>Model</mat-label>
            <input matInput type="text" formControlName="model" placeholder="Model" autocomplete="new-password"
                required />
                <mat-error>{{ errorMessage('model', 15) }}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
            <mat-label>Range from</mat-label>
            <input matInput type="number" formControlName="rangeFrom" placeholder="Range from"
                autocomplete="new-password" required />
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
            <mat-label>Range to</mat-label>
            <input matInput type="number" formControlName="rangeTo" placeholder="Range to" autocomplete="new-password"
                required />
            <mat-error *ngIf="form.hasError('rangeError') && form.get('rangeTo')?.dirty;">
                Range from should be before Range to
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Type</mat-label>
            <mat-select formControlName="type">
                <mat-option *ngFor="let type of types;" [value]="type"> {{type}}</mat-option>
            </mat-select>
            <mat-error *ngIf="form.controls['type'].hasError('required')">
                Enter the type
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Unit</mat-label>
            <mat-select formControlName="unit">
                <mat-option *ngFor="let unit of units;" [value]="unit[0]"> {{unit[1]}}</mat-option>
            </mat-select>
            <mat-error *ngIf="form.controls['unit'].hasError('required')">
                Enter the type
            </mat-error>
        </mat-form-field>



        <mat-form-field appearance="fill" class="full-width">
            <mat-label>Location</mat-label>
            <input matInput type="text" formControlName="location" placeholder="Location" autocomplete="new-password" />
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
            <mat-label>Description</mat-label>
            <textarea matInput type="text" formControlName="description" placeholder="Description"
                autocomplete="new-password">
            </textarea>
        </mat-form-field>


        <div class="dialog-actions">
            <button mat-raised-button color="primary" type="submit" [mat-dialog-close]="true" [disabled]="!form.valid">
                Save
            </button>

        </div>
    </form>
</div>